<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

   <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan "2"><%= @order.email %></th>

        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |id| %>
          <%= render 'item', id: id %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= @order.total_cents.to_i / 100 %>
          </th>
        </tr>
      </tfoot>
    </table>


</section>